/* Training Section */
.training-container {
    text-align: center;
    padding: 50px 0;
    background-color: #e0e0e0;
    font-family: "DM Sans", sans-serif !important;
}

/* Title Styling */
.home-training-title {
    font-size: 2rem;
    font-weight: bold;
    color: #221e1e;
    margin-bottom: 30px;
    margin-top: 30px;
}

.highlight {
    color: red;
}

/* Card Container */
.training-cards {
    display: flex;
    justify-content: center;
    gap: 37px;
    flex-wrap: wrap;
}

/* Training Card */
.training-card {
    background: white;
    border-radius: 10px;
    padding: -10px;
    width: 270px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

/* Hover Effect */
.training-card:hover {
    transform: translateY(-5px);
}

/* Training Icon */
.training-icon {
    width: 140px;
    height: 140px;
    margin-left: 60px !important;
    margin-bottom: 10px;
}

/* Training Title */
.training-header {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d1a617;
    margin-bottom: 20px;
}

/* Training Description */
.training-content {
    font-size: 15px;
    margin-bottom: 30px !important;
    font-family: "DM Sans", sans-serif !important;
    text-align: center;
    color: #0a0808;
    font-weight: 700px;
    line-height: 1.5;
    margin-bottom: auto;
}

@media (max-width: 425px) {
    .training-container {
        padding: 35px 70px;
    }

    .home-training-title {
        font-size: 1.7rem;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .training-cards {
        gap: 25px;
    }

    .training-card {
        width: 100%;
        padding: 10px;
        border-radius: 9px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    }

    .training-card:hover {
        transform: translateY(-4px);
    }

    .training-icon {
        width: 120px;
        height: 120px;
        margin: 0 auto 10px;
        display: block;
    }

    .training-header {
        font-size: 1.3rem;
        margin-bottom: 18px;
    }

    .training-content {
        font-size: 0.95rem;
        margin-top: 15px;
        line-height: 1.4;
    }
}

@media (max-width: 375px) {
    .training-container {
        padding: 30px 60px;
    }

    .home-training-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .training-cards {
        gap: 20px;
    }

    .training-card {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .training-card:hover {
        transform: translateY(-3px);
    }

    .training-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto 8px;
        display: block;
    }

    .training-header {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .training-content {
        font-size: 0.9rem;
        margin-top: 20px;
        line-height: 1.4;
    }
}
