.testimonials-section {
  padding: 50px 0;
  font-family: "DM Sans", sans-serif;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  margin-bottom: 20px;
}

.main-header {
  font-size: 2.7rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: -50px;
}

.rating-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
}

.rating-number {
  font-size: 2rem;
  font-weight: bold;
  color: #01a11b; /* Orange color */
}

.big-rating {
  font-size: 3.5rem; /* Make 4.7 bigger */
}
.google-stars {
  display: flex;
  margin-bottom: 20px;
}

.google-star-icon {
  color: #FFD700;
  font-size: 1.5rem;
}

.rating-text {
  font-size: 1.2rem;
  margin-left: 80px;
  color: #242121;
}

.rating-number {
  font-weight: bold;
}

.testimonials-wrapper {
  position: relative;
}

.testimonial-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
  text-align: center;
  margin-top: -50px;
}

.student__info {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.feedback-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name-rating {
  margin-top: 15px;
}

.star-rating {
  display: flex;
  justify-content: center;
}

.star-icon {
  color: #FFD700;
  font-size: 1rem;
}

.testimonial-text {
  font-size: 1.1rem;
  color: #1f1919;
  line-height: 1.5;
}

.quote {
  font-size: 1.5rem;
  color: #333;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.left-arrow {
  left: -50px;
}

.right-arrow {
  right: -50px;
}