.custom-course-section {
    background-color: #0c002b; /* Deep dark blue or match your theme */
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px; /* or 10px if you want soft edges */
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    gap: 20px;
  }
  .home-title{
    color: #1f1e1e;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    /* margin-left: 80px; */
  }
  .custom-course-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }
  
  .custom-course-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .contact-button {
    background-color: white;
    color: #000;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #e5e5e5;
  }
  
  .phone-number {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
  }
  