.ask-for-demo {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-20%);
  background: linear-gradient(to right, #003399, #1c67ff);
  color: white;
  padding: 1px 8px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.ask-for-demo .icon {
  margin-right: 0px;
  font-size: 32px;
  margin-bottom: 5px;
}

.ask-for-demo .text {
  font-size: 16px;
  margin-bottom: 3px;
  margin-right: 2px;
}

.ask-for-demo .demo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
}
