@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.corporate-section {
 max-width: 1200px;
 margin: 40px auto;
  /* background-color: #fd2323; */
 padding: 20px;
}

.corporate-title {
 font-size: 2rem;
 color: #2c3e50;
 font-family: "DM Sans", sans-serif;
 text-align: center;
 margin-bottom: 70px;
 font-weight: 700;
}
.corporate-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns */
  gap: 20px;
  justify-items: center; /* Center each item horizontally */
}

.corporate-block {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corporate-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; /* Adjust as needed */
  margin-bottom: 15px;
}

.corporate-image {
  width: 200px; /* Fixed size for all images */
  height: 200px;
  border-radius: 30px;
  margin: 0 auto;
  object-fit: cover;
}

.corporate-block-heading {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.corporate-block-paragraph {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  width: 250px;
  text-align: center;
}
