/* SAP FICO Section */
.sap-fico-section {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: #8cc9c1;
  color: white;
  padding: 160px 60px;
  border-radius: 30px 0px 30px 30px;
  position: relative;
  overflow: hidden;
}

/* Course Info */
.course-info {
  width: 60%;
}

.course-info h2 {
  font-size: 30px;
  font-weight: bold;
}

.course-info ul {
  list-style: none;
  padding: 0;
}

.course-info ul li {
  font-size: 0.95rem;
  margin: 10px 0;
}

/* Ratings */
.ratings {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 18px;
}

/* Image Styling */
.sap-fico-image {
  width: 60%;
  height: 400px; /* Set a fixed height */
  position: relative; /* Needed for absolute positioning of images */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sap-fico-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 20px;
  object-fit: contain;
}